name: Tests

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  validate:
    if: always()
    needs: [tests, tourney_result, benchmark]
    runs-on: ubuntu-latest

    steps:
      - name: Validate Pull Request
        run: |
          tests="${{ needs.tests.result }}"
          benchmark="${{ needs.benchmark.result }}"
          tourney="${{ needs.tourney.result }}"

          [[ "$tests" == "success" ]] && [[ "$benchmark" == "success" ]] &&
            [[ "$tourney" == "success" || "$tourney" == "skipped" ]] &&
            exit 0
          exit 1

  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: rustup update nightly && rustup default nightly
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: rustup update nightly && rustup default nightly
      - name: Build
        run: cargo build --verbose
      - name: Run benchmarks
        run: cargo run --release --bin run -- 60000 # 1mn per benchmark suite
      - name: Show Result and Patch
        run: |
          echo "## Result" >> $GITHUB_STEP_SUMMARY
          echo >> $GITHUB_STEP_SUMMARY
          cat README.md | awk 'BEGIN{P=0} /AUTOMAGICALLY/{P=1-P;next} P{print}' >> $GITHUB_STEP_SUMMARY
          echo
          echo "## Patch" >> $GITHUB_STEP_SUMMARY
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          git diff README.md >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

  prepare_tourneys:
    runs-on: ubuntu-latest
    outputs:
      boards: ${{ steps.prepare_boards.outputs.boards }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # We also want to fetch the main branch.
      - name: Prepare boards
        id: prepare_boards
        run: |
          set -x
          # [["startgame", 1], ["earlygame", 2], ["midgame", 2], ["endgame", 4]]
          cat <<JSON | jq --compact-output '.|map({set: .[0], index: range(1; .[1] + 1)})' > boards.json
          [["startgame", 10], ["earlygame", 20], ["midgame", 20], ["endgame", 40]]
          JSON
          echo "boards=$(cat boards.json)" >> "$GITHUB_OUTPUT"
      - run: rustup update nightly && rustup default nightly
      - name: Prepare executables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            opponent=$(git describe --tags --abbrev=0)
          else
            opponent='refs/remotes/origin/main'
          fi
          mkdir exe
          cargo build --release --features=cli --bin=minicou
          mv target/release/minicou exe/new
          cargo build --release --bin=game-info
          mv target/release/game-info exe/game_info
          git checkout $opponent
          cargo build --release --features=cli --bin=minicou
          mv target/release/minicou exe/old
      - name: Upload executables
        uses: actions/upload-artifact@v6
        with:
          path: 'exe'
          name: 'exe'

  tourney:
    runs-on: ubuntu-latest
    needs: prepare_tourneys
    strategy:
      matrix:
        include: ${{ fromJson(needs.prepare_tourneys.outputs.boards) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v7
        with:
          path: 'exe'
          name: 'exe'
      - name: Play Game
        id: game
        run: |
          chmod +x exe/game_info exe/old exe/new
          board="$(sed '${{ matrix.index }}q;d' benchmarks/data/${{ matrix.set }})"
          ./script/match exe/game_info  exe/old  exe/new  "$board" | tee output.tmp
          awk '/Total:/ {print $2}' output.tmp > outcome
      - uses: actions/upload-artifact@v6
        with:
          name: output-${{ matrix.set }}-${{ matrix.index }}
          path: outcome

  tourney_result:
    runs-on: ubuntu-latest
    needs: tourney
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: 'outputs'
      - name: Show Tourney Result
        run: |
          set -x
          echo "## Tourney Result" >> $GITHUB_STEP_SUMMARY
          echo >> $GITHUB_STEP_SUMMARY
          total=$(cat outputs/output-*/* | paste -sd+ - | bc)
          count=$(ls outputs/output-*/* | wc -l)
          avg=$(echo "scale=2; $total / $count" | bc)
          stddev=$(cat outputs/output-*/* | awk -v mean=$avg '{sum+=($1 - mean)^2} END {print sqrt(sum/NR)}')
          echo "| set | average score | std dev |" >> $GITHUB_STEP_SUMMARY
          echo "|:----|--------------:|--------:|" >> $GITHUB_STEP_SUMMARY
          for set in endgame midgame earlygame startgame; do
            set_total=$(cat outputs/output-${set}-*/* | paste -sd+ - | bc)
            set_count=$(ls outputs/output-${set}-*/* | wc -l)
            set_avg=$(echo "scale=2; $set_total / $set_count" | bc)
            set_stddev=$(cat outputs/output-${set}-*/* | awk -v mean=$set_avg '{sum+=($1 - mean)^2} END {print sqrt(sum/NR)}')
            echo "| $set | $set_avg | $set_stddev |" >> $GITHUB_STEP_SUMMARY
          done
          echo "| **Overall** | **$avg** | **$stddev** |" >> $GITHUB_STEP_SUMMARY
